doctype html
html
    head
        title Assets
        link(rel="stylesheet" href="/webjars/bulma/1.0.2/css/bulma.css")/
        script(type="text/javascript" src="/webjars/htmx.org/2.0.2/dist/htmx.js")
        //- https://pugjs.org/language/inheritance.html
        script(type="text/javascript").
            htmx.logAll()
        block head
    body
        block content

