extends ./base

block base-head
    script(type="text/javascript").
      const token = sessionStorage.getItem('X-Auth-Token')
      if (!token) {
        window.location.href = '/auth'
      }
    block head
block base-content
    div(hx-get="/menu" hx-trigger="load")
    block content
