extends ../layouts/main
block head
    script(type="text/javascript").
        const token = sessionStorage.getItem('X-Auth-Token');
        if (!token) {
            window.location.href = '/auth';
        }
block content
    h1.title Assets Administrator
