if user == null
    mixin user-groups
        .panel.is-info(style="min-width:320px;")&attributes(attributes)
            .panel-heading User groups
            .panel-block
                form(hx-get="/profile/my-groups" hx-swap="outerHTML" hx-trigger="load")
if user != null
    each group in user.getGroups()
        div= group.getName()
